@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";  



@layer utilities {
  .container {
    max-width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}
@theme {
  --breakpoint-sm: 360px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1600px;
  --breakpoint-2xl: 2400px;
}



:root {
  --bg: #ffffff;
  --panel: #111217;
  --text: #282828;
  --accent: #c8c8c8;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: var(--text);
  background: var(--bg);
  font-size: 1.4rem;
}

.hero-bg {
  background-image: url('https://drive.developershideout.com:4431/hoda_img/HOME/HERO.png');
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

/*CSS FOR AUTOSCROLL*/
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 10s linear infinite;
  width: max-content;
}
.animate-scroll:hover{
   animation-play-state: paused;
}